        <div class="tab skills" data-group="primary" data-tab="skills">
          <div class="section-header">
            <a class="item-control item-create" data-item-type="skill">
              {{localize "hero6e.AddSkill"}}
            </a>
          </div>

          {{#each actor.data.data.skills}}
            <div class="flexrow">
              <img class="item-image" src="{{this.img}}" title="{{this.name}}" height="30" width="30" />
              <div>{{this.name}}</div>
              <div class="item-controls flexrow">
                <a class="item-control item-edit" data-item-id="{{this.id}}">{{icon "edit"}}</a>
                <a class="item-control item-delete" data-item-id="{{this.id}}">{{icon "trash"}}</a>
              </div>
            </div>
          {{else}}
            <div class="blankslate">{{localize "hero6e.NoSkills"}}</div>
          {{/each}}
        </div>
