<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64"/>

    <h1 class="charname"><input name="name" type="text" value="{{data.name}}" placeholder="Name"/></h1>
  </header>

  <div class="flexrow block status-block my-2">
    <div class="section-header">{{localize "hero6e.Status"}}</div>
  </div>

  <div class="flexrow">
    <div class="characteristics-block flexcol m-1">
      <div class="section-header">{{localize "hero6e.Characteristics"}}</div>
      {{#each data.data.characteristics}}
        <div class="flexrow flexalign-center my-1">
          <div>
            <input class="characteristic" name="data.characteristics.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
          </div>
          <div class="mx-1 text-center text-upcase">
            {{@key}}
          </div>
          <div>
            {{#if this.roll}}
              <button class="rollable-characteristic" data-roll-base="{{this.roll}}" data-roll-label="{{@key}}">
                {{this.roll}}-
                {{icon "dice"}}
              </button>
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>

    <div class="flex2 m-1">
      <nav class="tabs list-navigation" data-group="primary">
        <a class="item" data-tab="skills">{{localize "hero6e.Skills"}}</a>
        <a class="item" data-tab="powers">{{localize "hero6e.Powers"}}</a>
        <a class="item" data-tab="complications">{{localize "hero6e.Complications"}}</a>
        <a class="item" data-tab="equipment">{{localize "hero6e.Equipment"}}</a>
        <a class="item" data-tab="description">{{localize "hero6e.Description"}}</a>
      </nav>

      <div class="list-display">
        {{> "systems/hero6e/templates/sheets/tabs/skills-tab.hbs"}}
        {{> "systems/hero6e/templates/sheets/tabs/powers-tab.hbs"}}
        {{> "systems/hero6e/templates/sheets/tabs/complications-tab.hbs"}}
        {{> "systems/hero6e/templates/sheets/tabs/equipment-tab.hbs"}}
        {{> "systems/hero6e/templates/sheets/tabs/description-tab.hbs"}}
      </div>
    </div>
  </div>

</form>
