<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
  </header>

  <section class="characteristics-block column">
    <div class="section-header row">{{localize "hero6e.characteristics"}}</div>
    <table>
      <tr>
        <th>{{localize "hero6e.value"}}</th>
        <th>{{localize "hero6e.characteristic"}}</th>
        <th>{{localize "hero6e.skill.roll"}}</th>
      </tr>
      {{#each data.characteristics}}
      <tr>
        <td>
          <input name="data.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
        </td>
        <td>
          {{localize (concat "hero6e.characteristicNames." @key)}}
        </td>
        <td>
          {{#if (eq this.category "primary")}}
          <div></div>
          {{/if}}
        </td>
      </tr>
      {{/each}}
    </table>
  </section>
</form>
