<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
  </header>

  <div class="flexrow">
    <section class="characteristics-block flexcol m-1">
      <div class="section-header">{{localize "hero6e.characteristic.plural"}}</div>
      {{#each data.characteristics}}
        <div class="flexrow flexalign-center my-1">
          <div>
            <input name="data.characteristics.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
          </div>
          <div class="mx-1">
            {{localize (concat "hero6e.characteristic.names." @key)}}
          </div>
          <div>
            {{#if this.roll}}
              {{this.roll}}-
            {{/if}}
          </div>
        </div>
      {{/each}}
    </section>

    <section class="skills-block flex3 m-1">
      <div class="section-header">{{localize "hero6e.skill.plural"}}</div>

      <table>
        <tr>
          <th>{{localize "hero6e.skill.singular"}}</th>
          <th>{{localize "hero6e.skill.roll"}}</th>
        </tr>
        {{#each data.skills}}
          <tr>
            <td>{{this.name}}</td>
            <td>
              {{#if (and this.roll this.roll.base)}}
                {{this.roll.base}}-
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </table>
    </section>
  </div>
</form>
