<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
  </header>

  <section class="characteristics-block">
    <table>
      <tr>
        <th>{{localize "hero6e.characteristic"}}</th>
        <th>{{localize "hero6e.value"}}</th>
        <th>{{localize "hero6e.skill.roll"}}</th>
      </tr>
      <tr>
        <td>{{localize "hero6e.characteristics.str"}}</td>
        <td>{{actor.data.characteristics.str.value}}</td>
        <td></td>
      </tr>
    </table>
  </section>
</form>
