<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
  </header>

  <section class="characteristics-block column">
    <div class="section-header row">{{localize "hero6e.characteristics"}}</div>
    <div class="row">
      <div class="column mx-2">
        <div class="column-header">{{localize "hero6e.value"}}</div>
        {{#each data.characteristics}}
        <div>{{this.value}}</div>
        {{/each}}
      </div>
      <div class="column mx-2">
        <div class="column-header">{{localize "hero6e.characteristic"}}</div>
        {{#each data.characteristics}}
        <div>{{localize (concat "hero6e.characteristicNames." @key)}}</div>
        {{/each}}
      </div>
      <div class="column mx-2">
        <div class="column-header">{{localize "hero6e.skill.roll"}}</div>
        {{#each data.characteristics}}
        {{#if (eq this.category "primary")}}
        <div></div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </section>
</form>
