<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
  </header>

  <div class="flexrow">
    <section class="characteristics-block flexcol m-1">
      <div class="section-header">{{localize "hero6e.characteristic.plural"}}</div>
      {{#each actor.data.data.characteristics}}
        <div class="flexrow flexalign-center my-1">
          <div>
            <input name="data.characteristics.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
          </div>
          <div class="mx-1">
            {{localize (concat "hero6e.characteristic.names." @key)}}
          </div>
          <div>
            {{#if this.roll}}
              {{this.roll}}-
            {{/if}}
          </div>
        </div>
      {{/each}}
    </section>

    <div class="flex3 m-1">
      <section class="skills-block">
        <div class="section-header">{{localize "hero6e.skill.plural"}}</div>

        {{#each actor.data.data.skills}}
          <div class="flexrow">
            <div class="flex4">{{this.name}}</div>
            <div>
              {{#if (and this.roll this.roll.base)}}
                {{this.roll.base}}
              {{/if}}
            </div>
          </div>
        {{else}}
          <div class="blankslate">{{localize "hero6e.skill.none"}}</div>
        {{/each}}
      </section>

      <section class="powers-block">
        <div class="section-header">{{localize "hero6e.power.plural"}}</div>

        {{#each actor.data.data.powers}}
          <div class="flexrow">
            <div class="flex4">{{this.name}}</div>
          </div>
        {{else}}
          <div class="blankslate">{{localize "hero6e.power.none"}}</div>
        {{/each}}
      </section>

      <section class="complications-block">
        <div class="section-header">{{localize "hero6e.complication.plural"}}</div>

        {{#each actor.data.data.complications}}
          <div class="flexrow">
            <div class="flex4">{{this.name}}</div>
          </div>
        {{else}}
          <div class="blankslate">{{localize "hero6e.complication.none"}}</div>
        {{/each}}
      </section>
    </div>

    <div class="flex3 m-1">
      <section class="equipment-block">
        <div class="section-header">{{localize "hero6e.equipment.plural"}}</div>

        {{#each actor.data.data.equipment}}
          <div class="flexrow">
            <div class="flex4">{{this.name}}</div>
          </div>
        {{else}}
          <div class="blankslate">{{localize "hero6e.equipment.none"}}</div>
        {{/each}}
      </section>
    </div>
  </div>

</form>
