<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
  </header>

  <div class="flexrow">
    <section class="characteristics-block flexcol m-1">
      <div class="section-header">{{localize "hero6e.Characteristics"}}</div>
      {{#each actor.data.data.characteristics}}
        <div class="flexrow flexalign-center my-1">
          <div>
            <input name="data.characteristics.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number"/>
          </div>
          <div class="mx-1">
            {{upcase @key}}
          </div>
          <div>
            {{#if this.roll}}
              {{this.roll}}-
            {{/if}}
          </div>
        </div>
      {{/each}}
    </section>

    <div class="flex2 m-1">
      <nav class="tabs sheet-navigation" data-group="primary">
        <a class="item active" data-tab="skills">{{localize "hero6e.Skills"}}</a>
        <a class="item" data-tab="powers">{{localize "hero6e.Powers"}}</a>
        <a class="item" data-tab="complications">{{localize "hero6e.Complications"}}</a>
        <a class="item" data-tab="equipment">{{localize "hero6e.Equipment"}}</a>
        <a class="item" data-tab="description">{{localize "hero6e.Description"}}</a>
      </nav>

      <section class="sheet-body">
        <div class="tab skills active" data-group="primary" data-tab="skills">
          <div class="section-header">{{localize "hero6e.Skills"}}</div>

          {{#each actor.data.data.skills}}
            <div class="flexrow">
              <div class="flex4">{{this.name}}</div>
              <div>
                {{#if (and this.roll this.roll.base)}}
                  {{this.roll.base}}
                {{/if}}
              </div>
            </div>
          {{else}}
            <div class="blankslate">{{localize "hero6e.NoSkills"}}</div>
          {{/each}}
        </div>

        <div class="tab powers-block" data-group="primary" data-tab="powers">
          <div class="section-header">{{localize "hero6e.Powers"}}</div>

          {{#each actor.data.data.powers}}
            <div class="flexrow">
              <div class="flex4">{{this.name}}</div>
            </div>
          {{else}}
            <div class="blankslate">{{localize "hero6e.NoPowers"}}</div>
          {{/each}}
        </div>

        <div class="tab complications-block" data-group="primary" data-tab="complications">
          <div class="section-header">{{localize "hero6e.Complications"}}</div>

          {{#each actor.data.data.complications}}
            <div class="flexrow">
              <div class="flex4">{{this.name}}</div>
            </div>
          {{else}}
            <div class="blankslate">{{localize "hero6e.NoComplications"}}</div>
          {{/each}}
        </div>

        <div class="tab equipment-block" data-group="primary" data-tab="equipment">
          <div class="section-header">{{localize "hero6e.Equipment"}}</div>

          {{#each actor.data.data.equipment}}
            <div class="flexrow">
              <div class="flex4">{{this.name}}</div>
            </div>
          {{else}}
            <div class="blankslate">{{localize "hero6e.NoEquipment"}}</div>
          {{/each}}
        </div>
      </section>
    </div>
  </div>

</form>
