<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>

  <div class="sheet-content flexrow">
    <div class="item-stats flexcol">
      <div class="item-stat">
        <label>{{localize "hero6e.points"}}</label>
        <input name="data.points" type="text" value="{{data.points}}" data-dtype="Number" />
      </div>
      <div class="item-stat">
        <label>{{localize "hero6e.skill.rollType"}}</label>
        <select name="data.roll.type">
          {{selectOptions config.skillRollTypes selected=data.roll.type localize=true}}
        </select>
      </div>
      {{#if (eq data.roll.type "characteristic")}}
      <div class="item-stat">
        <label>{{localize "hero6e.characteristic.singular"}}</label>
        <select name="data.roll.characteristic">
          {{selectOptions config.skillRollCharacteristics selected=data.roll.characteristic localize=true}}
        </select>
      </div>
      {{/if}}
    </div>

    {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
  </div>
</form>
