<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
  </header>

  <div class="sheet-content flexrow">
    <div class="flexcol">
      <div class="flexrow my-1">
        <div>{{localize "hero6e.Points"}}</div>
        <div>
          <input name="data.points" type="text" value="{{item.data.data.points}}" data-dtype="Number" />
        </div>
      </div>
      <div class="flexrow my-1">
        <div>{{localize "hero6e.RollType"}}</div>
        <div>
          <select name="data.roll.type">
            {{selectOptions config.skillRollTypes selected=item.data.data.roll.type localize=true}}
          </select>
        </div>
      </div>
      {{#if (eq data.data.roll.type "characteristic")}}
        <div class="flexrow my-1">
          <div>{{localize "hero6e.Characteristic"}}</div>
          <div>
            <select name="data.roll.characteristic">
              {{selectOptions config.skillRollCharacteristics selected=item.data.data.roll.characteristic localize=true}}
            </select>
          </div>
        </div>
        <div class="flexrow my-1">
          <div>{{localize "hero6e.Bonus"}}</div>
          <div>
            <input name="data.roll.bonus" type="text" value="{{item.data.data.roll.bonus}}" data-dtype="Number" />
          </div>
        </div>
      {{/if}}
      {{#if (eq data.data.roll.type "raw")}}
        <div class="flexrow my-1">
          <div>{{localize "hero6e.Roll"}}</div>
          <div>
            <input name="data.roll.value" type="text" value="{{item.data.data.roll.value}}" data-dtype="Number" />
          </div>
        </div>
      {{/if}}
    </div>
    <div class="flex2">
      {{!-- {{editor content=data.description target="data.description" button=true owner=owner editable=editable}} --}}
    </div>
  </div>
</form>
