<form class="{{cssClass}}" autocomplete="off">
  <header class="flexrow">
    <img class="profile" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="64" width="64"/>

    <div class="flexcol">
      <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>

      <div class="flexrow">
        <div>
          <input name="data.skillType" type="text" value="{{data.data.skillType}}" placeholder="{{localize "hero6e.SkillType"}}" />
        </div>
        <div>
          <input name="data.source" type="text" value="{{data.data.source}}" placeholder="{{localize "hero6e.Source"}}" />
        </div>
      </div>
    </div>
  </header>

  <section class="details flexrow">
    <div class="flexcol mr-2">
      <div class="flexrow my-1">
        <div>{{localize "hero6e.Points"}}</div>
        <div>
          <input name="data.points" type="text" value="{{data.data.points}}" data-dtype="Number" />
        </div>
      </div>
      <div class="flexrow my-1">
        <div>{{localize "hero6e.RollType"}}</div>
        <div>
          <select name="data.roll.type">
            {{selectOptions config.skillRollTypes selected=data.data.roll.type localize=true}}
          </select>
        </div>
      </div>
      {{#if (eq data.data.roll.type "characteristic")}}
        <div class="flexrow my-1">
          <div>{{localize "hero6e.Characteristic"}}</div>
          <div>
            <select name="data.roll.characteristic">
              {{selectOptions config.skillRollCharacteristics selected=data.data.roll.characteristic localize=true}}
            </select>
          </div>
        </div>
        <div class="flexrow my-1">
          <div>{{localize "hero6e.Bonus"}}</div>
          <div>
            <input name="data.roll.bonus" type="text" value="{{data.data.roll.bonus}}" data-dtype="Number" />
          </div>
        </div>
      {{/if}}
      {{#if (eq data.data.roll.type "raw")}}
        <div class="flexrow my-1">
          <div>{{localize "hero6e.Roll"}}</div>
          <div>
            <input name="data.roll.value" type="text" value="{{data.data.roll.value}}" data-dtype="Number" />
          </div>
        </div>
      {{/if}}
    </div>
    <div class="editor-block flex2">
      {{editor content=data.data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
